.App {
    padding: 0 2.5rem 0 2.5rem;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.LeftNav, .App-header, .Container, .PersonalizedStore-Wrapper {
    border: 1px solid #222;
}

.App-header {
    height: 150px;
    padding: 20px;
    color: #222;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Custom styles */
.header-left{
    float: left;
    width: 60%;
}
.greetings {
    text-align: right;
    width: 40%;
    float: left;
    height: 100%;
}

.greetings .firstName {
    margin-top: 5rem;
}

.LeftNav {
    width: 15rem;
}

.LeftNav-Wrapper {
    padding-left: 2.5rem;
}

.LeftNav > ul > li {
    list-style: none;
    padding: 0.5rem;
}

.LeftNav > ul > li > a {
    text-decoration: none;
}

.Container {
    padding: 1rem;
}

.Container-Wrapper {
    padding-left: 0.5rem;
    padding-right: 2.5rem;
    width: 100%;
}

.AppBody {
    display: flex;
}

.PersonalizedStore-Wrapper {
    height: 10rem;
}